div.categoriesList span {
    float: left;
    width: 85px;
    height: 100px;
    text-align: center;
    font-size: 0.85em;
    padding-top: 5px;
    border: 1px solid #ffffff;
}

ul.layerList {
    /*padding: 0, 0, 0, 20px;*/
    padding-left: 20px;
}
