#layerLoaderDialog,
section {
    height: 100%;
}

div.categoriesList span {
    float: left;
    width: 85px;
    height: 100px;
    text-align: center;
    font-size: 0.85em;
    padding-top: 5px;
    border: 1px solid #ffffff;
}

ul.layerList {
    padding-left: 20px;
}

#layerLoaderDialog section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#layerLoaderDialog section .layerLoaderColumn {
	flex-basis: 28%;
	max-height: 95%;
	overflow-y: auto;
}

#layerLoaderDialog section .layerLoaderColumn:last-child {
	flex-basis: 38%;
}

#layerLoaderDialog section ul {
	list-style: none;
	padding-inline-start: 20px; /* less indented */
}

ul.unindented {
    padding-inline-start: 0 !important; /* not indented */
}

.selectableItem {
	border-radius: 5px;
    cursor: pointer;
	display: block;
	padding: 0.25em;
}

span.selectedItem {
	background-color: #69A1C2;
	color: #FFFFFF;
}

.no-caret .expando {
    display: none !important;
}

.buttonContainerRight {
    text-align: right;
}

.emptyCategory {
    font-style: italic;
    color: gray;
}

.tip {
    font-size: small;
}

#searchResultsDialog {
    min-width: 500px;
    max-width: 700px;
}

/* Div wrapping the shared map link */
#mapLinkDiv {
    width: 400px;
    height: 75px;
}

/* The shared map link itself, is an input that needs to not look like an input */
#mapLink {
    border: none;
    width: 95%;
    text-align: center;
    font-size: 1.1em;
}

    /* selection color when link is copied */
    #mapLink::selection {
        background-color: #e3edff;
    }

.hidden {
    display: none;
}

/* todo move alert declarations to a more general location */
.alert {
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
