<div class="layerControl layerControlFolder">
    <table class="layerControlTable">
        <tr data-dojo-attach-point="expandClickNode">
            <td class="layerControlTableExpand">
                <i data-dojo-attach-point="expandIconNode" class="${icons.folder} layerControlIcon"></i>
            </td>
            <td class="layerControlTableCheck" title="Click to toggle visibility of this folder; if not checked, layers in this folder will not be shown, even if the layers in the folder are checked.">
                <i data-dojo-attach-point="checkNode" class="${icons.unchecked} layerControlIcon"></i>
            </td>
            <td class="layerControlTableLabel">
                <span data-dojo-attach-point="labelNode"></span>
            </td>
            <td data-dojo-attach-point="menuClickNode" class="layerControlTableMenu">
                <i data-dojo-attach-point="menuNode" class="${icons.menu}"></i>
            </td>
        </tr>
    </table>
    <div data-dojo-attach-point="expandNode" class="layerControlIndent" style="display:none;"></div>
</div>
