<div id="reLoginDialogTemplate" title="Your Session has expired." data-dojo-type="dijit/form/Form">
    <div data-bind="visible: !userNamePasswordVisible()">
        <div>
            Your Session has expired. Do you want to restart your session?
        </div>

        <!--note the data-dojo-attach-point and data-dojo-attach-event attributes aren't working at all in a Mixin context -->
        <div data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass:'fa fa-sign-in-alt fa-fw'"
             data-dojo-attach-point="showLoginButton"
             data-dojo-attach-event="onclick:showLogin"
             data-bind="click:showLogin">
            Restart Session
        </div>

        <div data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass:'fa fa-sign-out-alt fa-fw'"
             data-dojo-attach-point="logoutButton"
             data-dojo-attach-event="click: function() {console.log('foo');}"
             data-bind="click:logout">
            Exit
        </div>
    </div>
    <div data-bind="visible: userNamePasswordVisible()">
        <label>Username</label>
        <input id="userNameTextBox" type="text"
               data-dojo-type="dijit/form/ValidationTextBox" 
               data-dojo-props="name:'userName',trim:true,required:true,style:'width:100%;'"
               data-bind="value: userName" />

        <label>Password</label>
        <input id="passwordTextBox" type="password"
               data-dojo-type="dijit/form/ValidationTextBox" 
               data-dojo-props="name:'password',required:true,style:'width:100%;'"
               data-bind="value: password" />
        <br />
        <div data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass:'fa fa-sign-in-alt fa-fw'"
             data-bind="click: login">
            Sign In
        </div>

        <div data-dojo-type="dijit/form/Button"
             data-dojo-props="iconClass:'fa fa-sign-out-alt fa-fw'"
             data-bind="click: logout">
            Exit
        </div>
    </div>

</div>
