<div>
    <h3>Show Draft Data?</h3>
    <p>At least one analysis area being loaded has both draft and milestone (previously reviewed or in review) data. Please select which version to load</p>

    <h4>Alternative 1</h4>
    <div>
        <input type="radio" name="useDraft" value="Y" /> <label>Draft</label>
        <input type="radio" name="useDraft" value="N" /> <label>Most recent milestone</label>
    </div>


    <div class="buttonContainer buttonContainerRight">
        <!-- ko if: url && url !== '' -->
        <div data-bind="click: loadService" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
            Continue
        </div>
        <!-- /ko -->
    </div>
</div>
