<div>
    <div style="margin-bottom: 10px">
        This project has a current draft version which is newer than the most recent project milestone.
        Which version would you like to load?
    </div>
    <!--note the data-dojo-attach-event and ..attach-point attributes are ignored for some reason. See the constructor in _LayerLoadMixin.startup for how we handle clicks -->
    <div id="currentDraftButton" class="full-width" data-dojo-type="dijit/form/Button">
        Current Draft
    </div>
    <div id="mostRecentMilstoneButton" class="full-width" data-dojo-type="dijit/form/Button">
        Most Recent Milestone
    </div>
</div>
