<div class="slr_filterControl">
    <div class="formContainer" id="slrFilterForm">
        <div data-dojo-attach-point="issueSelectorDigit" data-dojo-type="dijit/form/Form">
            <div data-dojo-props="doLayout:false,'class':'slrFilterTabContainer'" data-dojo-type="dijit/layout/TabContainer" id="slrFilterTabContainer">
                <div id="contentPane1" class="SlrTabFilterContentPane" data-dojo-props="selected:true," data-dojo-type="dijit/layout/ContentPane" title="EST Data Loader" data-dojo-attach-point="slrDom">
                    <div>
                        <span id='issueSelectorHelpNode' class="slr-help" data-dojo-attach-point="issueSelectorHelpNode"></span>
                    </div>
                    <div class="row row-issueSelect-tidalSelect">
                        <div id="IssueSelectDom" class="IssueSelectDom col-xs-6" data-dojo-attach-point="IssueSelectDom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>