.newFeatureDijit .listdbootstrapFix {
    padding: 0 0 0 25px;
}

.newFeatureDijit .newFeatureContainer {
    padding: 0;
}

.floatingWidget .newFeatureDijit .newFeatureContainer {
    padding: 5px;
}

.newFeatureDijit .newFeatureNode {
    height: 300px;
    width: 350px;
}

.newFeatureDijit .newFeatureTabContainer {
    height: 100%;
    width: 100%;
}

.arcgisSearch .searchGroup .searchInput {
    width: 220px;
}