<div class="helpDijit">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-attach-point="containerNode" class="helpContainer">
        <div class="helpNode">
            <div class="helpLinks" style="padding: 5px 10px 10px 5px">
                <ul>
                    <li><a href="/assets/est/MapViewer/QuickSteps-ProjectEditor-2020-0305.pdf" target="_blank">Quick Steps - Getting started with the editor</a></li>
                    <li><a href="/assets/est/MapViewer/QuickGuide-ProjectEditor-2020-0305.pdf" target="_blank">Quick Guide - Additional editing details</a></li>
                    <li><a href="/assets/videos/ProjectEditorTool-Video-20200320.mp4" target="_blank">Video</a></li>
                </ul>
            </div>


        </div>
    </div>
</div>
