<div>
    <div id="projectEditorSidebar">
        <script type="text/html" id="geometry-type-icon">
            <!--ko if: type==='point'-->
            <svg overflow="hidden" width="25" height="25" style="touch-action: none;"><defs></defs><circle fill="rgb(34, 171, 0)" fill-opacity="1" stroke="rgb(0, 0, 0)" stroke-opacity="1" stroke-width="1.3333333333333333" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" cx="0" cy="0" r="2.6666666666666665" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid" transform="matrix(1.00000000,0.00000000,0.00000000,1.00000000,15.00000000,15.00000000)"></circle></svg>
            <!-- /ko -->
            <!--ko if: type==='polyline'-->
            <svg overflow="hidden" width="25" height="25" style="touch-action: none;"><defs></defs><path fill="none" fill-opacity="0" stroke="rgb(33, 0, 130)" stroke-opacity="1" stroke-width="1.3333333333333333" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" path="M -7,0 L 7,0 E" d="M-7 0L 7 0" stroke-dasharray="none" dojoGfxStrokeStyle="solid" transform="matrix(1.00000000,0.00000000,0.00000000,1.00000000,15.00000000,15.00000000)"></path></svg>
            <!-- /ko -->
            <!--ko if: type==='polygon'-->
            <svg overflow="hidden" width="25" height="25" style="touch-action: none;"><defs></defs><path fill="rgb(255, 255, 115)" fill-opacity="1" stroke="rgb(110, 110, 110)" stroke-opacity="1" stroke-width="0.5333333333333333" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="4" path="M -7,-7 L 7,0 L 7,7 L -7,7 L -7,-7 Z" d="M-7-7L 7 0L 7 7L-7 7L-7-7Z" fill-rule="evenodd" stroke-dasharray="none" dojoGfxStrokeStyle="solid" transform="matrix(1.00000000,0.00000000,0.00000000,1.00000000,15.00000000,15.00000000)"></path></svg>
            <!-- /ko -->
        </script>

        <div data-bind="visible: mode() == 'default'">
            <span data-bind="click: showHelpDialog" style="float:right; cursor:pointer" title="Click for help" class="fa fa-question-circle"></span>
            <h3>
                Project Features Editor
            </h3>

            <button data-dojo-type="dijit/form/Button"
                    data-dojo-props="iconClass:'fa fa-folder-open fa-fw'"
                    data-dojo-attach-event="onClick:showOpenProjectDialog"
                    data-dojo-attach-point="showOpenProjectDialogButton">
                Open
            </button>

            <div style="margin-top: 15px">
                <p>
                    Click the <strong>Open</strong> button to open an EST project for editing project features. The project must be in editing status.
                </p>
            </div>
        </div>

        <div data-bind="visible: mode() != 'default'">
            <div>
                <span data-bind="click: unloadCurrentProject" style="float:right; padding-left: 5px; cursor:pointer" title="Stop editing" class="fa fa-window-close"></span>
                <span data-bind="click: showHelpDialog" style="float:right; cursor:pointer" title="Click for help" class="fa fa-question-circle"></span>
            </div>

            <fieldset class="borderless" data-bind="visible: mode() === 'editFeatures', enable: canEdit">
                <!--ko with: currentProjectAlt-->
                <h4 data-bind="text: label"></h4>
                <!--/ko-->

                <div class="alert alert-warning" data-bind="visible: hasAnalysisResults">
                    Warning: this project has already been analyzed. Any changes you make to project geometry will require re-running the analysis.
                </div>

                <h5>Features</h5>

                <div class="alert alert-danger" data-bind="visible: analysisRunning">
                    Analysis results, reports, or maps are currently being generated. Editing of this project's features is disabled until all processes are completed.
                </div>

                <div class="alert alert-danger" data-bind="visible: analysisStatus() === analysisStatuses.OTHER">
                    This project is not in editing status.
                </div>


                <table class="aoiList">
                    <thead>
                        <tr data-bind="css: {'dgrid-sort-up': !featureSortDescending(), 'dgrid-sort-down': featureSortDescending()}">
                            <th class="dgrid-header dgrid-cell"><input type="checkbox" data-bind="triState: featuresVisible" /></th>
                            <th class="dgrid-header dgrid-cell" data-bind="click: sortFeaturesByType, css: {'type-sort' : featureSortOption()==='type'}">Type<span class="ui-icon dgrid-sort-arrow" data-bind="visible: featureSortOption()==='type'">&nbsp;</span></th>
                            <th class="dgrid-header dgrid-cell" data-bind="click: sortFeaturesByName">Name<span class="ui-icon dgrid-sort-arrow" data-bind="visible: featureSortOption()==='name'">&nbsp;</span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: sortedFeatures">
                        <!-- ko if: selected -->
                        <tr class="feature-selected">
                            <td class="dgrid-cell"><input type="checkbox" checked disabled /></td>
                            <td class="dgrid-cell" data-bind="template: {name: 'geometry-type-icon', data: geometry}"></td>
                            <td class="dgrid-cell">
                                <input type="text" data-bind="value: name, hasFocus: nameHasFocus" />
                            </td>
                        </tr>
                        <!-- /ko -->
                        <!-- ko ifnot: selected -->
                        <tr>
                            <td class="dgrid-cell"><input type="checkbox" data-bind="checked: visible" /></td>
                            <td class="dgrid-cell" data-bind="click: select, template: {name: 'geometry-type-icon', data: geometry}"></td>
                            <td class="dgrid-cell" data-bind="click: select, text: name"></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>

                <button data-dojo-type="dijit/form/Button"
                        data-dojo-props="iconClass:'fa fa-plus-circle fa-fw'"
                        data-bind="click: $root.showNewFeatureDialog"
                        data-dojo-attach-point="addFeatureButton">
                    Add Feature
                </button>
                <!--Note buttons have to be wrapped in a data-bound div, or they still render as empty buttons. Thanks, Dojo.-->
                <div data-bind="visible: $root.drawMode() === 'draw'">
                    <button data-bind="click: $root.deactivateDrawTool" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-stop-circle fa-fw'">
                        Cancel Draw
                    </button>
                </div>

                <div data-bind="visible: $root.drawMode() === 'split'">
                    <button data-bind="click: $root.deactivateDrawTool" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-stop-circle fa-fw'">
                        Cancel Split
                    </button>
                </div>

                <div data-bind="visible: $root.drawMode() === 'extract1' || $root.drawMode() === 'extract2'">
                    <button data-bind="click: $root.deactivateExtract" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-stop-circle fa-fw'">
                        Cancel Extract
                    </button>
                </div>

                <div data-bind="with: currentFeature">
                    <fieldset data-bind="visible: !$root.drawMode()">
                        <legend>Editing <span data-bind="text: name"></span></legend>
                        <div data-bind="visible: canSplit">
                            <!-- visible binding on a dojo button renders an empty button frame, so have to wrap it -->
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-cut fa-fw'" data-bind="click: function() { $root.activateSplitTool() }">
                                Split
                            </button>
                        </div>
                        <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-trash fa-fw'" data-bind="click: deleteFeature">
                            Delete
                        </div>
                    </fieldset>
                </div>

                <div>
                    <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-undo fa-fw'" data-dojo-attach-point="undoButton" data-dojo-attach-event="onClick:undo">
                        Undo
                    </button>
                    <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-redo fa-fw'" data-dojo-attach-point="redoButton" data-dojo-attach-event="onClick:redo">
                        Redo
                    </button>

                </div>

                <hr />
                <div class="buttonContainer buttonContainerRight">
                    <button data-dojo-type="dijit/form/Button"
                            data-bind="click: showAnalysisOption"
                            data-dojo-props="style:'text-align: right'"
                            class="right">
                        Next <i class="fa fa-caret-right fa-fw"></i>
                    </button>
                </div>
            </fieldset>

            <fieldset class="borderless" data-bind="visible: mode() === 'analysis'">
                <!--ko with: currentProjectAlt-->
                <h4 data-bind="text: label"></h4>
                <!--/ko-->

                <div class="alert alert-success" data-bind="visible: analysisRunning">
                    Analysis results or reports are currently being generated. You can close this screen and continue using the map while the reports are being generated, or you can keep this screen open, and a link to the reports will show up below.
                    <div>
                        <i class="fa fa-spinner fa-spin"></i>
                        <!--span data-bind="visible: code===-1" class="fa fa-exclamation-triangle"></span-->
                        <span data-bind="text: analysisStatusText"></span>

                    </div>
                </div>

                <div data-bind="visible: hasAnalysisResults">
                    <p data-bind="with: currentProjectAlt">
                        Click <a data-bind="attr: {href: '/est/analysis/ReportOptions.do?p=' + projectId}" target="_blank" style="text-decoration: underline">here</a>
                        to
                        <span data-bind="visible: $parent.hasReports">view PDF reports or</span>
                        run custom analysis reports.
                    </p>
                </div>

                <div data-bind="visible: analysisStatus() === analysisStatuses.EDITING">
                    <p>You can start GIS analysis on this screen by clicking the <strong>Start Analysis</strong> button. Note that features will not be editable until analysis is complete.</p>

                    <div class="buttonContainer buttonContainerFull">
                        <button data-dojo-type="dijit/form/Button"
                                data-bind="click: startAnalysis">
                            Start Analysis
                        </button>
                    </div>
                </div>

                <div class="buttonContainer buttonContainerFull">
                    <button data-dojo-type="dijit/form/Button"
                            data-bind="click: showEditFeatures">
                        <i class="fa fa-caret-left fa-fw"></i> Back
                    </button>
                </div>
            </fieldset>

        </div>
    </div>
</div>