<div>
    <h3>Resource Data</h3>
    <label>Search</label>
    <input data-dojo-attach-point="searchNode" class="searchInput" type="text" />
    <button data-dojo-attach-point="searchButton">Search</button>
    <hr />
    <button data-dojo-attach-point="showCategoriesButton">List All Categories</button>
    <button data-dojo-attach-point="listAllButton">List All</button>

    <hr />
    <h3>ETDM Projects</h3>
    <label>Project ID <input type="text" data-dojo-attach-point="projectId" /></label><br />
    <label>Alt Number <input type="text" data-dojo-attach-point="altNumber" /></label> (optional)<br />
    <button data-dojo-attach-point="addProjectToMapButton">Add Project to Map</button>
</div>
