<div id="layerLoaderDialog">
    <script type="text/html" id="categoryTemplate">
        <li data-bind="css: {emptyCategory: layerDefs.length === 0 && categories.length === 0}">
            <span data-bind="css: {selectedItem: $root.currentCategory() == $data}, text: name, event: {click: function() {$root.currentCategory($data); $root.currentLayer(null)}}"></span>
            <ul class="plain-list" data-bind="template: {foreach: categories, name: 'categoryTemplate'}"></ul>
        </li>
    </script>


    <section>
        <div class="layerLoaderColumn">
            <ul class="plain-list" data-bind="template: {foreach: categories, name: 'categoryTemplate'}"></ul>
        </div>

        <div class="layerLoaderColumn">
            <!-- ko with: currentCategory -->
                <h4 data-bind="text: name"></h4>
                <div data-bind="if: layerDefs && layerDefs.length > 0">
                    <h4>Layers</h4>
                    <ul class="plain-list" data-bind="foreach: layerDefs">
                        <li>
                            <span data-bind="css: {selectedItem: $root.currentLayer() == $data}, text: name, event: {click: function() {$root.currentLayer($data);}}"></span>
                        </li>
                    </ul>
                </div>

                <div data-bind="if: categories && categories.length > 0">
                    <h4>Sub-topics</h4>
                    <ul class="plain-list" data-bind="foreach: categories">
                        <li>
                            <span data-bind="text: name, event: {click: function() {$root.currentCategory($data);}}"></span>
                        </li>
                    </ul>
                </div>

                <div data-bind="visible: layerDefs.length === 0 && categories.length === 0" class="emptyCategory">
                    Pardon our dust: no layers or sub-topics have been defined for this topic yet.
                </div>

                <div class="buttonContainer buttonContainerRight">
                    <!-- ko if: serviceURL && serviceURL !== '' -->
                        <div data-bind="click: loadService" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
                            Add Service to Map
                        </div>
                    <!-- /ko -->
                    <!-- ko if: layerDefs && layerDefs.length > 0 -->
                        <div data-bind="click: loadCategory" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
                            Add Layers to Map Individually
                        </div>
                    <!-- /ko -->
                    <!--this is just asking for trouble
                    <div data-bind="visible: categories && categories.length > 0, click: loadCategoryRecursive">
                        <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
                            Add all to Map + Sub-topics
                        </div>
                    </div> -->
                </div>
                <div>
                    <p data-bind="visible: serviceURL && serviceURL !== ''">
                        Use the Add Service to Map button to add all layers in this topic to the map as a single "dynamic" map service.
                        This will draw faster and generally perform better than adding layers individually to the map.
                    </p>
                    <p data-bind="visible: layerDefs && layerDefs.length > 0">
                        Use the Add Layers to Map Individually button to add all layers in this topic to the map as individual layers.
                        For multiple, dense layers, this will likely draw significantly slower, but will allow you to change the order
                        of the layers shown in the map and interact with specific layers directly.
                    </p>
                </div>

            <!-- /ko -->
        </div>

        <div class="layerLoaderColumn">
            <!-- ko with: currentLayer -->
                <h3 data-bind="text: longName || name"></h3>
                <div data-bind="visible: legend && legend.length > 0" style="margin-bottom: 1em">
                    <label>Symbols: </label>
                    <span data-bind="foreach: legend">
                        <img data-bind="attr: {src: 'data:image/png;base64, ' + imageData, alt: label}" style="vertical-align: bottom" /> &nbsp;
                    </span>
                </div>
                <label>Description</label>
                <p data-bind="text: description"></p>
                <label data-bind="text: scaleText"></label>
                <p data-bind="if: layerName">
                    <a data-bind="attr: {href: '/metadata/' + layerName + '.htm'}" target="_blank">View Complete Metadata</a>
                </p>
                <div class="buttonContainer buttonContainerRight">
                    <div data-bind="visible: !loaded(), click: loadLayer">
                        <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
                            Add to Map
                        </div>
                    </div>
                    <div data-bind="visible: loaded(), click: removeLayer">
                        <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-minus-square fa-fw'">
                            Remove from Map
                        </div>
                    </div>
                </div>
            <!-- /ko -->
        </div>
    </section>

</div>
