<div id="searchResultsDialog">
    <div data-bind="visible: searchResults().length > 0">
        <div data-bind="foreach: searchResults">
            <!--ko if: type=="category" && layerDefs && layerDefs.length > 0 -->
            <strong data-bind="text: name"></strong> (Category)
            <div data-bind="visible: layerDefs && layerDefs.length > 0">
                <h4>Layers</h4>
                <ul data-bind="foreach: layerDefs">
                    <li data-bind="html: name"></li>
                </ul>
            </div>

            <div class="buttonContainer buttonContainerRight">
                <!-- ko if: serviceURL && serviceURL !== '' -->
                <div data-bind="click: loadService" data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
                    Add All to Map
                </div>
                <!-- /ko -->
            </div>
            <hr />
            <!-- /ko -->

            <!--ko if: type=="feature"-->
            <strong data-bind="text: longName || name"></strong>
            <div data-bind="if: legendSymbols && legendSymbols.length > 0" style="margin-bottom: 1em">
                <label>Symbols: </label>
                <span data-bind="foreach: legendSymbols">
                    <img data-bind="attr: {src: 'data:image/png;base64, ' + imageData, alt: label}" style="vertical-align: bottom" /> &nbsp;
                </span>
            </div>
            <label>Description</label>
            <p data-bind="text: description"></p>
            <label data-bind="text: scaleText"></label>
            <p data-bind="if: layerName">
                <a data-bind="attr: {href: '/metadata/' + layerName + '.htm'}" target="_blank">View Complete Metadata</a>
            </p>
            <div class="buttonContainer buttonContainerRight">
                <div data-bind="visible: !loaded(), click: loadLayer">
                    <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-plus-square fa-fw'">
                        Add to Map
                    </div>
                </div>
                <div data-bind="visible: loaded(), click: removeLayer">
                    <div data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-minus-square fa-fw'">
                        Remove from Map
                    </div>
                </div>
            </div>
            <hr />
            <!-- /ko -->

        </div>
    </div>
    
    <div data-bind="visible: searchResults().length == 0">
        <div style="width: 500px; font-style: italic">
            No matches found.
        </div>
    </div>
</div>
